.container {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  background-color: #15929b;
  color: #15929b;
  align-items: center;
}

.header {
  display: flex;
  background: linear-gradient(to top, #15929b, #c9f5f7);
}
img {
  max-width: 30%;
  max-height: 100%;
  border-radius: 5px;
  margin-right: 5px;
}
.nombre_rol {
  width: 100%;
  letter-spacing: 5px;
  font-weight: bold;
}
.nombre {
  font-size: 20px;
  margin: 10px 0px 0px 5px;
  color: #112d4e;
  text-shadow: 5px 5px 9px #5e656e;
  font-weight: 300;
}
.rol {
  font-size: 15px;
  text-align: right;
  margin: 12px 0px 20px 0px;
  color: #112d4e;
  text-shadow: 5px 5px 9px #5e656e;
  font-weight: 300;
}
.contenedor_contacto {
  display: flex;
  margin-top: 5px;
  background: linear-gradient(to bottom, #15929b, #c9f5f7);
}
.contacto {
  width: 70%;
  height: 100%;
}

ul,
li {
  list-style: none;
  display: block;
}
.li_info {
  display: flex;
  margin-top: 12px;
  color: #112d4e;
}
.icono {
  font-size: 30px;
  margin-left: -35px;
  color: #112d4e;
  text-shadow: 5px 5px 9px #5e656e;
}
.icono_h {
  font-size: 40px;
  margin-left: -35px;
  color: #112d4e;
  text-shadow: 5px 5px 9px #5e656e;
}
.texto {
  margin-left: 5px;
  font-size: 15px;
  margin-top: 5px;
}

.habilidad {
  text-align: center;
  width: 35%;
  color: #112d4e;
  border-radius: 10px;
}
.cuerpo {
  display: block;
  margin-top: -8px;
  background: linear-gradient(to top, #15929b, #c9f5f7);
}
.list_p {
  display: flex;
}
.icono_p {
  margin-inline-start: 45px;
  font-size: 40px;
  text-shadow: 5px 5px 9px #5e656e;
}
p {
  margin-top: 8px;
  text-align: justify;
  color: #112d4e;
}

.educacion {
  align-items: center;
  background: linear-gradient(to bottom, #15929b, #c9f5f7);
}
.listado {
  margin-top: 10px;
}
.li_edu {
  display: flex;
  font-size: 10px;
  margin-top: 20px;
}
.li_edu {
  align-items: center;
  margin-top: -19px;
}
.fecha {
  width: 35%;
  color: #112d4e;
}
.info_edu {
  width: 50%;
  margin-top: 23px;
}
.info_i {
  font-size: 13px;
}
.info_d {
  font-size: 10px;
  margin-top: -14px;
}
a {
  text-decoration: none;
}
.a_link {
  text-decoration: none;
  box-shadow: 5px 5px 9px #5e656e;
  margin-left: 7px;
  border-radius: 4px;
  padding: 4px 5px;
  background-color: #112d4e;
  color: rgb(194, 181, 181);
}
.a_p {
  color: #112d4e;
}
.titulo {
  text-align: center;
  font-size: 19px;
  color: #112d4e;
  letter-spacing: 4px;
  font-weight: 700;
}
.list_f {
  display: flex;
  font-size: 20px;
}
.icono_f {
  text-align: center;
  margin-left: 85px;
  font-size: 30px;
  color: #112d4e;
}
.copy {
  text-align: center;
}
.descarga {
  margin-top: 10px;
  font-size: 30px;
  text-align: center;
}
.d_link {
  background-color: #d6e6f2;
  color: #112d4e;
  text-shadow: 5px 5px 9px #5e656e;
  background-color: transparent;
}
.contenedor_footer {
  background: linear-gradient(to top, #15929b, #c9f5f7);
  margin-top: -20px;
  text-shadow: 5px 5px 9px #5e656e;
}
@media screen and (min-width: 480px) {
  .nombre {
    font-size: 44px;
  }
  .rol {
    font-size: 25px;
    margin: 7px 0px 20px 0px;
  }
  .icono {
    margin-left: 125px;
  }
  .icono_p {
    margin-inline-start: 155px;
  }
  .fecha {
    width: 15%;
    margin-left: 200px;
  }
  .contenedor_footer {
    background: linear-gradient(to top, #15929b, #c9f5f7);
    margin-top: -22px;
    text-shadow: 5px 5px 9px #5e656e;
  }
  .icono_f {
    text-align: center;
    margin-left: 235px;
    font-size: 30px;
    color: #112d4e;
  }
}
@media screen and (min-width: 1629px) {
  img {
    margin-left: 55px;
    margin-top: 10px;
  }
  .rol {
    font-size: 35px;
    margin: 25px 30px 30px 0px;
  }
  .icono {
    font-size: 30px;
    margin-left: 405px;
    color: #112d4e;
    text-shadow: 5px 5px 9px #5e656e;
  }
  .texto {    
    font-size: 19px;    
  }

  .habilidad {    
    width: 5%;    
  }
  .list_p {
    display: flex;
  }
  .icono_p {
    margin-inline-start: 350px;
  
  }
  p {
    margin: 0px 100px 40px 100px;
    
  }
  .fecha {
    width: 15%;
    margin-left: 500px;
  }
  .icono_f {
    text-align: center;
    margin-left: 505px;
    font-size: 30px;
    color: #112d4e;
  }
}
