.container {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  background-color: #D6E6F2;
  color: #393E46;
}

.header {
  display: flex;
  
}
img {
  max-width: 30%;
  max-height: 100%;
  border-radius: 5px;
}
.nombre_rol {
  width: 100%;
  letter-spacing: 5px;
  font-weight: bold;
}
.nombre {
  font-size: 20px;
  margin: 10px 0px 0px 5px;

}
.rol {
  font-size: 15px;
  text-align: right;
  margin: 30px 0px 0px 0px;
}
.contenedor_contacto {
  display: flex;
  margin-top: 15px;
}
.contacto {
  width: 70%;
  height: 100%;
}

ul,
li {
  list-style: none;
  display: block;
}
.li_info {
  display: flex;
  margin-top: 12px;
}
.icono {
  font-size: 30px;
  margin-left: -35px;
  color: #112D4E;
  
  
}
.icono_h {
  font-size: 40px;
  margin-left: -35px;
  color: #112D4E;
  
  
}
.texto {
  margin-left: 5px;
  font-size: 15px;
  margin-top: 5px;
}

.habilidad {
  text-align: center;
  width: 35%;
  color: #112D4E;
  border-left: 4px solid black;
  
}
.cuerpo {
  display: block;
  border-top: 4px solid black;
  margin-top: 2PX;
}
.list_p {
  display: flex;
}
.icono_p {
  margin-left: 32px;
  font-size: 40px;
  
}
p {
  margin-top: 8px;
  text-align: justify;
}

.educacion {
  align-items: center;
}
.listado {
  margin-top: 10px;
}
.li_edu {
  display: flex;
  font-size: 10px;
  margin-top: 20px;
}
.li_edu {
  align-items: center;
  margin-top: -19px;
}
.fecha {
  width: 35%;
}
.info_edu {
  width: 50%;
  margin-top: 23px;
}
.info_i {
  font-size: 13px;
}
.info_d {
  font-size: 10px;
  margin-top: -14px;
}
a {
  text-decoration: none;  
}
.a_link{
  text-decoration: none;
 
  margin-left: 7px;
  border-radius: 4px;  
  padding: 4px 5px;
  background-color: #112D4E;
color: #fff;
}
.a_p {
   color: #112D4E;
}
.titulo {
  text-align: center;
  font-size: 19px;
  color: black;
}
.list_f {
  display: flex;
  font-size: 20px;
}
.icono_f {
  text-align: center;
  margin-left: 70px;
}
.copy {
  text-align: center;
}
